
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

}
main figure img{
    width: 20rem;
    height: 20rem;
}
footer{
    background-color: rgba(135,52,199,255);
    margin-top: 6rem;
}
footer figure{
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
    padding: 1rem;
}
/* clases */
.color{
    background-color:rgba(135,52,199,255);
}
.white{
    color: white;
}
