* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 100%;
  background-color: #8734c7; }

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8734c7; }
  .header img {
    width: 100px; }
  .header ul {
    width: 80%;
    margin: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    gap: 1rem; }
  .header a {
    text-decoration: none;
    color: white; }
  .header a:hover {
    color: black;
    font-size: larger; }

.main-index {
  height: 2500px;
  background-color: #8734c7;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "" "" "" "" ""; }
  .main-index p {
    background-color: antiquewhite;
    border-radius: 16px; }
