/*se llama todo lo que corresponde a utilities*/
@import"./utilities/variables";
@import"./utilities/mapas";
@import"./utilities/mixin";
/*se llama todo lo que corresponde a base*/
@import"./base/reset";
@import"./base/tipografias";
/*se llama todo lo que corresponde a layout*/
@import"./layout/header";
@import"./layout/main-index";
@import"./layout/footer";
/*se llama todo lo que corresponde a componentes*/
@import"./components/buttons";
/*se llama todo lo que corresponde a media querys*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
    
}
html{
    font-size: 100%;
    background-color:rgba(135,52,199,255);
}
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(135,52,199,255);
    
    img{
        width: 100px;
      };
      nav{
        
      }
      ul{
        width: 80%;
        margin: 2rem;
        display: flex;
        justify-content: flex-end;
        align-items:center;
        list-style-type: none;
        gap: 1rem;
      }
      a{
        text-decoration: none;
        color: white;
      }
      a:hover{
        color: black;
        font-size: larger;
      }
}
.main-index{
    background-color:rgba(135,52,199,255);
    display: grid;
    width: 100%;
    grid-template-columns:repeat(auto-fit, minmax(auto, 1fr 1fr 1fr));
    grid-template-rows: repeat(5fr);
    grid-template-areas:
    "section-1 section-1 section-1"
    "section-2 section-2 section-2"
    "section-4 section-5 section-5"
    "section-6 section-6 section-6"
    "section-7 section-7 section-7"
    ;
    p{
        margin: 2px;
        background-color: white  ;
        border-radius: 16px;
    }
}
.section-1{
  grid-area: section-1 ;
  color: aqua;
  text-align: center;
}
.section-2{
  grid-area: section-2 ;
  width: 100%;
  height: 400px;
  background-image: url(https://images.unsplash.com/photo-1489278353717-f64c6ee8a4d2?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  p{
    width: 500px;
    height: 240px;
    margin-left: 20px;
    padding: 3px;
    justify-content: center;
  }
}
.section-3{
  grid-area: section-3 ;} 
.section-4{
  grid-area: section-4 ;
  height: fit-content;
}
.section-5{
  grid-area: section-5 ;
 
}
.section-6{
  grid-area: section-6 ;
  p{
    padding: 2px;
  }
}
.section-7{
  grid-area: section-7 ;
  p{
    padding: 2px;
  }
} 
.main-galeria{
  display: flex;
  justify-content: center;
  div .carousel-item{
    
  }
  .carousel-item img{
    height: 50rem;
  }
  }
  .main-servicios{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }


.footer{
  width:100%;
  height:100px;
  background-color:rgba(135,52,199,255);
  }

